.contain {
    margin-top: 5%;
}

#contain {
    margin-right: 5%;
}

#info {
    margin-top: 1%;
    margin-left: 40%;

}

h5 {
    margin-top: auto;
}

#fillOut {
    margin-left: 36%;
}

#schedule {
    margin-bottom: 13%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }